  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/text.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/960.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="css/screen.css" type="text/css" media="screen" />
  <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
  <script type="text/javascript" src="js/global.js"></script>
  <title>Bolts</title>
  </head>
  <body>
  <div class="container_16">	
      <div class="grid_16">
      <h1>Application Name</h1>
      </div>
      <div class="grid_16" id="nav_top">	    
          <ul>
              <li class="first"><a href="#">Home</a></li>
              <li><a href="#" class="current">Users</a></li>
              <li><a href="#">Config</a></li>
          </ul>
      </div>
      <div class="clear"></div>
      <div class="grid_16" id="content_wrap"> 
          <!-- content area begins -->

          <h2>Section Name</h2>

  
          <div class="grid_16 alpha omega" id="nav_section">
              <ul>
                  <li class="first"><a href="#">Lorem</a></li>
                  <li><a class="current" href="#">Ipsum</a></li>
                  <li><a href="#">Sales</a></li>
              </ul>
          </div>        
         <div class="clear"></div>
          <div class="grid_16 alpha omega">
              <form action="#" id="filters">
              <label>Filters:</label>
              <select>
                  <option>date after</option>
                  <option>date before</option>
              </select>
              <input type="text" />
              <input type="submit" value="Add Filter"/>
              </form> 
             
              <ul id="filters-applied">
                  <li class="label"><span>Applied Filters:</span></li>
                  <li><a href="#">Before <strong>5/16</strong></a></li>
                  <li><a href="#">Containing <strong>jimmy</strong></a></li>
              </ul>
  
         </div>
         <div class="clear"></div>       
         <div class="grid_6 alpha">
              <div class="pager">
              <a href="#" class="first">First</a>
              <a href="#" class="previous">Previous</a>
              <span>Page <strong>2</strong> of <strong>12</strong></span>
              <a href="#" class="next">Next</a>
              <a href="#" class="last">Last</a>            
              <span>Showing <strong>1-30</strong> of <strong>214</strong></span>
            </div>
              
         </div>
         <div class="grid_10 omega">
         
         </div>
          <div class="clear"></div>
         <div class="grid_16 alpha omega">        
         <div class="tabular"> 
              <table>
                <col />
                <col />
                <col />
                <col />
                <col class="last"/>
                
                <thead>
                  <tr>
                    <th><a href="#" class="sort-asc">Username</a></th>
                    <th><a href="#" class="sort-desc">First Name</a></th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Birthday</th>
                  </tr>
                </thead>
  
                <tbody>
                  <tr class="odd">
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>
                  <tr>
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr> 
                  <tr class="odd">
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>
                  <tr>
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>    
                  <tr class="odd">
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>
                  <tr>
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr> 
                  <tr class="odd">
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>
                  <tr>
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>  
                  <tr class="odd">
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>
                  <tr>
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr> 
                  <tr class="odd">
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>
                  <tr>
                    <td>jaybill</td>
                    <td>Jaybill</td>
                    <td>McCarthy</td>
                    <td>heybill@jaybill.com</td>
                    <td>3 May 1976</td>
                  </tr>                                               
                </tbody>
              </table>
              </div>
              <!-- content area ends -->        
          </div>
          <div class="clear"></div>
      </div>
      <div class="grid_16" id="footer">
      Put together with <a href="http://letsgetbolts.com">Bolts</a>
      </div>       
  </div>
  </body>
  </html>
